{% extends "base.html" %}
{% block content %}

{% if carlist|length > 0 %}
  <h2>My Vehicles</h2>
  <ul>
    {% for car in carlist: %}
      <li>
        <form action="/crossoff" method="post">
          {{ car.name }}
          <input type="hidden" name="crossed-off-car" value="{{ car.id }}"/>
          <input type="submit" value="I Sold it!"/>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Add New Vehicles</h2>

<form action="/add" method="post">
    <label>
        Name:
        <input type="text" name="car-name"/>
    </label>
	<label>
        Make:
        <input type="text" name="car-make"/>
    </label>
	<label>
        Model:
        <input type="text" name="car-model"/>
    </label>
		<label>
        Year:
        <input type="integer" name="car-year"/>
    </label>
    <input type="submit" value="Add It"/>
</form>

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
